.calendar-wrapper {
    width: 100%;
}

.period-selection {
    margin: auto;
    width: 50%;
    gap: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar-item {
    height: 150px;

    &-now {
        background-color: greenyellow;
    }
}