
.commonDataTable {
  margin-left: 10px;
  margin-right: 10px;
}
.commonDataTable thead tr th  {
  white-space: nowrap;
  vertical-align: middle;
}

.formEditContainer {
  padding-bottom: 1.5rem;
}

.listTogglerItem {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
