.loading {
    position: fixed;
    right: 2px;
    bottom: 2px;
    z-index: 1100;
}

.loading-bar {
    stroke-dasharray: 30;
    stroke-dashoffset: 200;
    animation: draw 2s linear infinite; 
}

 @keyframes draw {
  to {
    stroke-dashoffset: 20;
  }
}

.toast-custom {
  padding: 0;
  position: fixed;
  top: 5px;
  right: 5px;
  margin: auto;
  transform-origin: 3000;
  z-index: 1100;
}